<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RPGate.Properties.Settings.XimplOdbc" connectionString="Dsn=XimplDB;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
